*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;    
}

/** Navbar start from here **/

nav{
    background-color: #023e8a;
    height: 90px;
    width: auto;

}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;  
        
}

.logo{
    background-image: url("images/logo.png");
    background-size: cover;
    height: 85px;
    width: 165px;
    background-color: none;
    margin-right: 90px

}


.himiliyatxt{
    color: white;
    font-weight: bold;
    font-size: 0.90rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;

}

.culturetxt{
    color: white;
    font-weight: bold;
    font-size: 0.90rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;

}

.adventuretxt{
    color: white;
    font-weight: bold;
    font-size: 0.90rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;

}

.border:hover{
    border-bottom: 1px solid white;
    
}

.accountbar{
    display: flex;

}

.search-section{
    display: flex;
    flex-direction: row;

}

.searchbar{
    color: white;
    height: 50px;
    width: 300px;
    border: none;
    color: black;
    font-size: 0.95rem;
    margin-left: 100px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.searchicon{
    background-color: #ffb703;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 20px;

}

.yellow:hover{
    background-color: #fb8500;

}


.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-right: 10px;

}

.login-button p{
    color: white;
    text-decoration: none;
    height: 900
}

/** main/content-section start from here **/

.bgcolor{
    background-color: #e7e7e7;
    height: 1350px;
}


.bgimage-section{
    height: 1000px;
    width: 100%;
    background-image: url("images/bgimage.jpg");
    background-size: cover;

}

.headtext h1{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 90px;
    padding-top: 150px;
    
}

/** section1 **/

.hotel-section{
    width: auto;
    height: 350px;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 300px;
    background-color: white;
}

.hotel-subsection{
    padding: 15px 16px 0px;

}

.hotel-text{
    padding-bottom: 15px;
    font-size: 1.40rem;

}

.hotelimage-boxlayout{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
}

.hotelimage-boxlayout img{
    border-radius: 10px;
    height: 200px;
    width: 200px;
    transition: transform 2ms ease-in-out;
}

.effect:hover{
    transform: scale(1.05);

}

.hotel-details{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.10em;
    padding-top: 15px;
}

.hotel-details a {
    text-decoration: none;
    color: black;
}

.hotel-details p {
    padding-bottom: 15px;
    
}

.details{
    font-size: 0.85rem;
    font-weight: lighter;
}

/** section2 **/

.touristplace-section{
    width: auto;
    height: 350px;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 30px;
    background-color: white;
}

.touristplace-subsection{
    padding: 15px 16px 0px;

}

.touristplace-text{
    padding-bottom: 15px;
    font-size: 1.40rem;

}

.touristplace-boxlayout{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
}

.touristplace-boxlayout img{
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.touristplace-details{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.10em;
    padding-top: 15px;
}

.touristplace-details a {
    text-decoration: none;
    color: black;
}

.touristplace-details p {
    padding-bottom: 15px;
    
}

.details{
    font-size: 0.85rem;
    font-weight: lighter;
}

.copyright{
    background-color: gray;
    height: 100px;
    width: 100%;
    color: white;
    font-weight: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}